.loader-center {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.loader-right {
  margin-top: 50px;
  display: flex;
  justify-content: right;
}
.loader-left {
  margin-top: 50px;
  display: flex;
  justify-content: left;
}